{% extends "layout.twig" %}

{% block content %}

    {% include "partials/hero-sub.twig"%}

    <div class="container container content">

      {% include "partials/post-list.twig" %}

      {% include "partials/pagination-archive.twig" %}

    </div>

{% endblock %}
